frappe-bench
psutil
psycopg2-binary
redis
hiredis
rq==2.6.1
orjson
duckdb
pyarrow
pypdf
PyYAML
RestrictedPython
WeasyPrint
pydyf
Werkzeug
Whoosh
beautifulsoup4
bleach
bleach-allowlist
chardet
croniter
cryptography
cssutils
distro
email-reply-parser
html5lib
ipython
ldap3
markdown2
MarkupSafe
nh3
num2words
oauthlib
openpyxl
xlsxwriter
passlib
pdfkit
phonenumbers
premailer
pyOpenSSL
pydantic
pyotp
python-dateutil
pytz
rauth
requests-oauthlib
requests
sqlparse
traceback-with-variables
Unidecode
barcodenumber
rapidfuzz
holidays
googlemaps
pypng
pdfplumber
filetype
filelock
Babel
PyJWT
PyQRCode
PyMySQL
mysqlclient
google-api-python-client
google-auth
google-auth-oauthlib
markdownify
pycountry
rsa
sentry-sdk
sql_metadata
tenacity
terminaltables
vobject
websockets
xlrd
zxcvbn
git+https://github.com/frappe/pypika@2c50e6142b2d61d2d243e466fdd5dc03b3d918f2
git+https://github.com/frappe/gunicorn@54b59ca884c79dcf04d4882658a32bbaf17e999f
